*.class
.classpath
.project
.settings
.gradle
redis-monitor.tar
redis-monitor.zip

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear


/build
/bin
/logs
/redis-monitor/logs